@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

    :root {
        --navbar-width: 96px;
    }

    * {
        @apply m-0 p-0 box-border;
    }

    body {
        @apply font-primary;
    }

    .overflow-overlay {
        overflow: overlay;
    }

    // Scrollbar
    html ::-webkit-scrollbar {
        border-radius: 0;
        height: 8px;
        width: 8px;
    }
    html ::-webkit-scrollbar-thumb {
        background-color: #d6d6d6;
        border-radius: 4px;
    }
    html ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 0;
    }
}
